form {
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 50%);
  text-align: center;
}

.auth-label {
  font-size: xx-large;
}

.auth-input {
  border-radius: 0px;
}

.auth-icon {
 margin: 3%;
 color: black;
}

.error-span {
  color: red;
}
