.btn {
  text-decoration: none;
  background-color: #487dd6;
  font-size: larger;
  outline: none;
  display: inline-block;
  height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.btn:hover:enabled {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-5px);
}