.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

::placeholder {
  font-size: larger;
  font-weight: 400;
  color: black;
}

.page-link {
  color:white;
}

body {
  color: #f7f7f7 !important;
}

form {
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 50%);
  text-align: center;
}

.form-control {
  border-radius: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 50%);
}

.nav-link {
  color: white;
}

.link {
  text-align: center;
}

.admin-sidebar {
  background:rgba(0, 0, 0, 50%);
  margin-top: 10px;
  max-width: 200px;
}

li {
  padding: 10px;
}

.navbar-icon {
  padding: 5px;
  background: #21201f;
  color: white;
}

.table {
  color: white;
  margin-top: 10px;
  background: rgba(0, 0, 0, 50%);
}

.table th, .table td {
  border: 2px solid #2a4a61;
  vertical-align: middle; 
  padding: 0.50rem;
}

.pagination {
  justify-content: center;
}

.list-img {
  width: 100px;
  height: 100px;
}

.list-img:hover { 
  transition: 500ms;
  transform: scale(2.2); 
}


